body {
    background-color: #CCCCCC;
}

.encabezado {
    width: 100%;
    height: 5em;
}

.contenedor-padre {
    width: 80%;
    margin: auto;
    text-align: center;
}

.contenedor-animations {
    height: 6em;
}

.contenedor-botones {
    padding: 20px;
    border-color: aqua;
}

.boton {
    font-size: 1.3em;
    font-weight: bold;
    width: 10%;
    border-radius: 5px;
    margin: 10px;
    padding: 10px 0;
    transition: 500ms;
}

.boton:hover {
    transform: scale(1.1);
}