body {
    background-color: #CCCCCC;
}

.encabezado {
    width: 100%;
    height: 10vh;
}

main {
    height: 80vh;
    width: 100%;
    margin: auto;
}

.contenedor-padre {
    position: relative;
    width: 90%;
    height: 100%;
    margin: auto;
    text-align: center;
}

.contenedor-animations {
    display: flex;
    flex-direction: column;
    height: 30%;
    margin-bottom: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.gif {
    height: 80%;
}

p {
    height: 20%;
    font-size: 2.5em;
}

.contenedor-botones {
    position: relative;
    width: 100%;
    height: 70%;
}

.boton {
    font-size: 1.3em;
    font-weight: bold;
    width: 10%;
    border-radius: 5px;
    margin: 10px;
    padding: 10px 0;
    transition: 0.5s;
} 

.boton:hover {
    /*transform: scale(1.5);*/
}

@media screen and (max-width:480px) {
    .boton {
        width: 30%;
    }
}